<!DOCTYPE HTML>
<html>
<body>
<!--[if lt IE 8]><h1>亲，目前还不支持ie8以下版本，请使用高级浏览器哟~</h1><![endif]-->
<div id="demo1"></div>
<ul class="top"></ul>
<span class="node-tip"></span>
<script src="http://a.tbcdn.cn/??s/kissy/1.3.0/kissy-min.js"></script>
<script type="text/javascript" src="assets/d2.js"></script>
<script type="text/javascript">
    (function (S) {
        var $ = S.all;
        S.Config.combine = true;
        if (S.UA.ie && S.UA.ie < 8) {
            return;
        }
        S.use('gallery/kcharts/1.1/mapchart/index,anim', function (S, MapChart, Anim) {
            var h = screen.availHeight * 0.7;
            $('#demo1').height(h);
            var map = new MapChart('#demo1', {
                themeCls: "ks-chart-default",
                autoRender: false,
                title: {
                    content: "城市分布",
                    css: {
                        "font-family": "Microsoft Yahei",
                        "font-size": "16px",
                        "font-weight": "bold"
                    }
                },
                tip: {
                    template: "Lv.{{rate}}",
                    css: {border: "1px solid #666"},
                    isShow: false
                },
                cssGroup: {
                    style1: {
                        attr: {"fill": "#f0efeb", "stroke": "#ccc6ae"},
                        hoverAttr: {"fill": "#f0efeb", "stroke": "#ccc6ae"}
                    },
                    defaultCls: "style1"
                },
                areaText: {
                    css: {
                        color: "#333"
                    }
                },
                series: {}
            });
            var list = {}, t1 = 0, t2 = 0;
            S.each(enrollment, function (item, index) {
                t1++;
                S.each(mapLocation, function (val, key) {
                    if (key.indexOf(index) != -1) {
                        list[index] = val;
                        list[index].num = item;
                        t2++;
                    }
                });
            });

            var ar = [], newList = {}, last = [];
            S.each(enrollment, function (item, index) {
                !S.inArray(item, ar) && ar.push(item)
                newList[item] = newList[item] || [];
                newList[item].push(index);
            })

            ar.sort(function (a, b) {
                return b - a;
            })

            S.each(ar, function (index) {
                S.each(newList[index], function (val) {
                    last.push({location: val, num: index});
                })
            });

            var html = '';
            S.each(last, function (item, index) {
                html += ['<li class="', index == t2 ? 'last' : '', '">', '<span class="city">', item.location, ':</span><span class="num">', item.num, '</span></li>'].join('');
            })

            $('.top').html(html);

            map.on('afterRender', function () {
                var self = this,
                        cs = self._cfg.city.css,
                        w = self.paper.width,
                        span = '<span></span>',
                        tip = $('.node-tip'),
                        timer,
                        container = '.ks-chart-area-text';

                self._container.width(w);
                S.each(list, function (item, index) {
                    var style = self.converPix(item.x, item.y);
                    style = S.merge(style, cs);
                    $(span).attr('title', index).css(style).appendTo(container).on('mouseenter',function (e) {
                        var tar = this, offset = $(tar).offset();
                        timer && clearTimeout(timer);
                        tip.text([index, ':', item.num, '人'].join('')).show().stop().animate({
                            left: offset.left + 10,
                            top: offset.top
                        }, {
                            duration: 0.3,
                            easing: 'easeIn'
                        });
                    }).on('mouseleave', function () {
                                timer = setTimeout(function () {
                                    tip.hide();
                                }, 2000);
                            })
                })
            });

            map.render();
        });
    })
            (KISSY);
</script>
</body>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>chinaMap</title>
    <style type="text/css">
        #demo1 {
            width: 80%;
            margin: 20px auto 0;
            font-size: 10px;
            font-family: Microsoft Yahei;
            -webkit-text-size-adjust: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        .top {
            width: 86%;
            padding: 0;
            margin: 0 auto 15px;
            border: 1px solid #EEE;
            color: #555;
            font-size: 14px;
            font-family: "Microsoft Yahei";
        }

        .top li {
            list-style: none;
            padding-bottom: 10px;
            padding-top: 10px;
            display: inline-block;
            width: 120px;
        }


        .top .city {
            display: inline-block;
            width: 4em;
            text-align: right;
        }

        .top .num {
            width: 3em;
            text-align: right;
            display: inline-block;
        }

        .top .last {
            margin-bottom: 0;
        }

        .node-tip {
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            padding: 5px 10px;
            background: #fff;
            border: 1px solid #ccc6ae;
            font-size: 12px;
            border-radius: 5px;
        }
    </style>
</head>
</html>