
/* reset */
body,table,tr,td,div,p,h1,h2,h3,h4,ul,li,dl {
    margin:0;
    padding:0;
    font-family:"microsoft yahei";
}
h1,h2,h3 {
    font-weight:normal;
}
ul {
    list-style:none;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
img {
    border:none;
}

html {
    background: #97CDF1 url("http://img04.taobaocdn.com/tps/i4/T1WVe1XxReXXaZgaH2-1656-11.png") repeat-y center top;
}
body {
    padding:400px 0 53px;
    font:12px/150% 'simsun';
    position:relative;
	background: transparent url("http://img02.taobaocdn.com/tps/i2/T1X.y1XrpdXXcRXS36-1656-528.png") no-repeat center top;
}
.mt10{margin-top:10px;}
.mb5{margin-bottom:5px;}
.pb10{padding-bottom:10px;}
.ml20{margin-left:20px;}
.mr30{margin-right:80px;}
.highlight{color:#fc9104}
.tip{color:#2758A7;}
.tip:hover{color:#2758A7;cursor:pointer;text-decoration:underline;}


.container{
	background:transparent url("http://img03.taobaocdn.com/tps/i3/T1K5W3XvlaXXbRAn36-1656-652.png") no-repeat center bottom;
}

/* title */
h1 {
    display:none;
}
/* nav */
.nav {
    width:960px;
    margin:0 auto;
    background:#222;
    line-height:34px;
    font-size:14px;
	overflow:hidden;
}
.nav li {
    float:left;
	width:20%;
}
.nav .cur {
    background:#fff;
}
.nav li a {
    font-weight:bold;
    padding:0 31px;
    color:#F3F0C0;
    display:block;
	text-align:center;

	
	border-width:1px;
	border-color:#333 #000 #000 #333;
	border-style:solid;
	background:#222;
}
.nav li a:hover {
    text-decoration:none;
}
.nav li.cur a {
    color:#000;
	background:#fff;
	border-color:#fff;:
}
/* detail */
.detail {
    width:880px;
    min-height:910px;
    _height:910px;
    margin:0 auto;
    padding:0 40px 40px;
    background:#FFF;
    color:#555;
}
.detail h2 {
    font-size:22px;
    line-height:40px;
    padding:20px 0 10px;
    color:#333;
    font-family:'microsoft yahei';
}
.detail a {
    color:#2758A7;
}
.detail p {
    font-size:14px;
    line-height:26px;
}
.detail table p{font-size:12px}
.detail table td{font-size:12px}
.detail p.map {
    padding:15px 0;
}
/* table */
table {
    border-collapse:collapse;
    width:100%;
}
table a {
    color:#2C87C9;
    text-decoration:underline;
}
thead {
    background:#646366;
    font-size:14px;
    font-weight:bold;
    color:#FFF;
}
table tr th:nth-child(1){
	width:90px;
}
table tr th:nth-child(2){
	width:auto;
}
table tr th:nth-child(3){
	width:210px;
}
table tr th:nth-child(4){
	width:90px;
}
td, th {
    padding:10px;
    border:1px solid #E6E7E5
}
/* unit */
.unit {
    min-width:180px;
    _width:180px;
    display:inline-block;
    _display:inline;
    zoom:1;
    margin-right:38px;
    background:url("http://img01.taobaocdn.com/tps/i1/T1hQnfXflnXXcGl.M9-1-500.png") no-repeat right 31px;
    margin-bottom:30px;
    vertical-align:top;
}
/* copyright */
.copyright {
    width:100%;
    font-family:arial;
    text-align:center;
    line-height:26px;
    color:#FFF;
    position:absolute;
    bottom:0px;
    padding-top:30px;
    height:23px;
    left:0;
    background:#97CDF1;
}
/* speaker intro */
.speaker-intro li {
    position:relative;
    min-height:150px;
    _height:150px;
    padding:15px 0 15px 170px;
    border-bottom:1px dashed #666;
}
.speaker-intro li.last {
    border-bottom:0px none;
}
.speaker-intro li h4 {
    font-size:14px;
    margin-bottom:15px;
}
.speaker-intro li.current{
	background-color:#FFF8E2;
}
.speaker-intro li h4 span {
    font-weight:normal;
    color:#666;
}
.speaker-intro li img {
    position:absolute;
    top:15px;
    left:0;
}
/* d2Spread */
.d2Spread {
    padding-bottom:40px;
}
.d2Spread h3 {
    font-weight:bold;
    margin:15px 0 10px;
}
.contactus{
	padding:20px 0px;
}
/* top */
a.top {
    background: url(http://img03.taobaocdn.com/tps/i3/T169G3XvFbXXcu8V6l-64-64.png) no-repeat -15px 0;
    position:absolute;
    width:35px;
    height:65px;
    display:block;
    bottom:105px;
    right:-35px;
    text-indent: -9999px;
}

/* dialog */
.dialog dl{padding:5px 10px;background:#fff}
.dialog dl dt{font-weight:bold}
.dialog dl dd{padding:0px;margin:10px 0}
.ks-dialog, .ks-overlay {width:500px}
.dialog .mobile-btn{text-align:center;}
.dialog .mobile-btn button{width:90%;height:30px;margin-bottom:10px}

/* tip */
.tooltip {
  font-size:20px;
  z-index: 1020;
  padding: 5px;
  opacity: 1;
  position: absolute;
  float:left;
  left:0px;
  display:none;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  margin-top: -2px;
}

.tooltip.right {
  margin-left: 2px;
}

.tooltip.bottom {
  margin-top: 2px;
}

.tooltip.left {
  margin-left: -2px;
}

.tooltip.head .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top: 5px solid #f8f2b4;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
  border-left: 5px solid transparent;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-right: 5px solid #000000;
  border-bottom: 5px solid transparent;
}

.tooltip-inner {
  padding: 10px;
  color: #000;
  text-align: center;
  text-decoration: none;
  background-color: #f8f2b4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  box-shadow: 0px 0px 2px 0px #f8f2b4;
  -webkit-box-shadow: 0px 0px 4px 0px #f8f2b4;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

/* overlay */
.ks-overlay {
    position:absolute;
    left:-9999px;
    top:-9999px;
    z-index: 10;
}

div.ks-dialog-mask {
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity = 15);
}

.ks-dialog .ks-dialog-header,
.ks-dialog .ks-stdmod-header {
    background: repeat-x scroll 0 0 #D6DBE2;
    border-bottom: 1px solid #ACB4BE;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 18px;
}

.ks-dialog-close .ks-dialog-close-x,
.ks-dialog .ks-ext-close-x {
    display: block;
    background: no-repeat;
    background-image: url("http://docs.kissyui.com/source/raw/demo/overlay/assets/close.png");
    height: 13px;
    text-indent: -9999px;
    width: 13px;
    margin: 2.5px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.ks-dialog-close-x:hover,
.ks-dialog .ks-ext-close-x:hover {
    border: 1px solid #CED5E0;
    background-color: white;
}

.thanks {
    padding-bottom: 50px;
}
.thanks a {
    margin-right: 15px;
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}
a.taobao {
    width: 170px;
}
a.tmall {
    background: #B20000;
    padding: 8px 5px;
    margin-right: 25px;
}
a.alipay {
    margin-right: 65px;
}
a.etao {
    width: 100px;
}
.strong {
    font-weight: bold;
    color: #F55202;
}


.detail {
    position: relative;
    z-index: 0;
} 

#signup {
    background: #222 url(http://img01.taobaocdn.com/tps/i1/T1qwaPXudhXXbii7A.-1-50.png) repeat-x 0 0;
    font-family: "Microsoft YaHei";
    background-color: #2DAEBF;
    position: absolute;
    top: 50px;
    right: 100px;
    width: 200px;

    display: block;
    padding: 10px 20px 13px;
    color: #fff !important;
    font-size: 22px;
    line-height: 1;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    cursor: pointer;
    overflow: visible;
    width: auto;
}
#signup:hover {
    background-color: #007D9A;
}

@-webkit-keyframes bluePulse {
    from {
        background-color: #007d9a;
        box-shadow: 0 0 9px #333;
    }
    50% {
        background-color: #2daebf;
        box-shadow: 0 0 18px #2daebf;
    }
    to {
        background-color: #007d9a;
        box-shadow: 0 0 9px #333;
    }
}

#signup {
    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

.f_left {
    float: left;
}
.clearfix:after {
    clear: both;
    height: 0;
    display: block;
    content: '\20';
}
.clearfix {
    *zoom: 1;
}

/** casual **/
.d2-casual {
    padding-bottom: 40px;
    text-align: center;
}
.d2-casual h3 {
    font-size: 20px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 8px;
}
.section-data p {
    text-align: center;

}
.section-game img {
    width: 70%;
    margin: 10px 0;
}
.section-game {
    margin-top: 20px;
}