
/***********************************
 * Mobile WEB
 **********************************/
.anim{
	/* webkit */
	-webkit-animation-property: -webkit-width;
	-webkit-animation-property: -webkit-height;
	-webkit-transition-duration: 1s;
	/* moz */
	-moz-animation-property: -moz-width;
	-moz-animation-property: -moz-height;
	-moz-transition-duration: 1s;
	/* opera */
	-o-animation-property: -o-width;
	-o-animation-property: -o-height;
	-o-transition-duration: 1s;
}

.select-img {
     height:auto;
     max-width:100%;
}
html {
     -webkit-text-size-adjust: 100%;
}


/* iPad 及以下，以及所有小于（不等于）960宽度的平板电脑 */
@media only screen and (max-width: 959px) {
	.nav{width:auto}
	.detail{
		width:auto;
		max-width:930px;
		padding:0px 10px;
	}
	/**intro**/
	.speaker-intro li{
		padding-left:80px;
	}
	.speaker-intro li img{
		width:60px;
		height:60px;
	}
	.top{
		display:none;
	}
}

@media only screen and (max-width: 768px) and (min-width: 480px){
	.nav li{
		width:50%;
	}
	.nav li:nth-child(5){
		width:100%;
	}
	.nav li.cur a{
		border-color:#000 #333 #333 #000;
		background:#999;
	}
	.detail tr th:nth-child(4),.detail tr td:nth-child(4){
		display:none
	}
}

@media only screen and (max-width: 660px){
	.detail tr th:nth-child(3),
	.detail tr th:nth-child(4),
	.detail tr td:nth-child(3),
	.detail tr td:nth-child(4){
		display:none
	}
}




/* 仅iPad 竖版，以及所有小于（不等于）标准960宽度的平板电脑的竖版 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	/**intro**/
	.speaker-intro li{
		padding-left:80px;
	}
	.speaker-intro li img{
		width:60px;
		height:60px;
	}
}
/* iPhone 及以下 */
@media only screen and (max-width: 767px) {
	html,body,.container{
	-moz-background-size: 1324px;
	-webkit-background-size: 1324px;
	background-size: 1324px;
	}
	body{
		padding-top:320px;
	}

	/**intro**/
	.speaker-intro li{
		padding-left:80px;
	}
	.speaker-intro li img{
		width:60px;
		height:60px;CHesihui!
	}
	/**signup**/
	 .showtime,.activity-register{
		padding:0px;
		-moz-background-size: 80px 60px;
		-webkit-background-size: 80px 60px;
		background-size: 80px 60px;
		background:none;
	}
	.d2Spread textarea{
		max-width:100%;
	}

    #signup {
        position: static;
        margin-top: 15px;
        width: 88px
    }
}


@media only screen and (max-width: 479px){
	.nav li{
		width:100%;
	}
	html,body,.container{
	-moz-background-size: 924px;
	-webkit-background-size: 924px;
	background-size: 924px;
	}
	body{
		padding-top:220px;
	}
	
	.nav li.cur a{
		border-color:#000 #333 #333 #000;
		background:#999;
	}
}

/* 仅iPhone 横版，包括某些平板电脑的竖版 */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.ks-dialog,.ks-overlay {width:96%}
	/**intro**/
	.speaker-intro li{
		padding-left:80px;
	}
	.speaker-intro li img{
		width:60px;
		height:60px;
	}
	/**signup**/
	.showtime,.activity-register{
		padding:0px;
		-moz-background-size: 80px 60px;
		-webkit-background-size:80px 60px;
		background-size: 80px 60px;
		background:none;
	}
	.d2Spread textarea{
		max-width:100%;
	}

}
@media only screen and (max-width: 479px) {
	.ks-dialog,.ks-overlay {width:90%}
	.tooltip{display:block;} 
}

